@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #2B2A33;
    /*#42414d*/
    color:#fff;
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.crud{
    width: 80%;
    margin: auto;
}

.head{
    text-align: center;
    margin: 10px 0;
}

input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    color: #fff;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
}

input:focus{
    background: #000;
    transform: scale(1.05);
}

.price input{
    width: 20%;
}

#total{
    background: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}

#total::before{
    content: 'المجموع : ';
}

button{
    font-weight: 900;
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #470053;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}

button:hover{
    background: #51025f;
    letter-spacing: 1px;
}

.btnSearch{
    display: flex;
    justify-content: space-between;
}

.btnSearch button{
    width: 45%;
}

#deleteAll{
    margin: 20px 0;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th{
    font-size: 1em;
}

th,td{
    padding: 5px;
}